# API URL for the backend
# Dùng cấu hình này cho môi trường production:
# VITE_API_BASE_URL=https://api.yourdomain.com
# Dùng cấu hình này cho môi trường local:
VITE_API_BASE_URL=http://127.0.0.1:8000
